body {
  text-align: center;
  font-family: 'Manjari', sans-serif;
  background: hsla(0, 0%, 0%, 0.685);
  color: #FFFFFF;
}

p {
  font-size: 18px;
}

i {
  font-size: 40px;
  margin-bottom: 10px;
}

.fa-eye {
  font-size: 30px;
  padding: 0 20px;
  font-weight: 100;
}

.fa-eye:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.247);
}

.main-title {
  font-family: 'Raleway', sans-serif;
}

.results-item {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

#input-quote, #register-form input {
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  margin-top: 20px;
}

#register-form input[type="password"] input[type="email"] {
  width: 60%;
}

#results-header {
  text-decoration: underline;
  font-weight: 400;
  margin-bottom: 20px;
}

#results-div {
  margin-top: 30px;
}

.container {
  margin-top: 80px;
  text-align: center;
}

.submit-btn {
  margin-top: 30px;
  color: #FFFFFF;
  font-weight: 600;
}

