body {
  text-align: center;
  font-family: 'Manjari', sans-serif;
  background: hsla(0, 0%, 0%, 0.685);
  color: #FFFFFF;
}

p {
  font-size: 18px;
}

i {
  font-size: 40px;
  margin-bottom: 10px;
}

.fa-eye {
  font-size: 30px;
  padding: 0 20px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.247);
  transition: color .3s
}

.fa-eye:hover {
  cursor: pointer;
  color: #FFFFFF;
}

.main-title {
  font-family: 'Raleway', sans-serif;
}

.results-item {
  font-size: 1.25rem;
}

#results-quote {
  border: 1px solid rgb(46, 46, 46);
  border-radius: 12px;
  padding: 28px 25px 15px 25px;
}

#results-number {
  font-weight: 600
}

#input-quote, #register-form input {
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  margin-top: 20px;
}

#register-form input[type="password"] input[type="email"] {
  width: 60%;
}

#results-header {
  font-family: "Raleway", serif;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#results-div {
  margin-top: 30px;
}

.container {
  margin-top: 80px;
  text-align: center;
}

.submit-btn {
  margin-top: 30px;
  color: #FFFFFF;
  font-weight: 600;
}

