body {
  text-align: center;
  font-family: 'Manjari', sans-serif;
  background: hsla(0, 0%, 0%, 0.685);
  color: #FFFFFF;
}

p {
  font-size: 18px;
}

i {
  font-size: 40px;
  margin-bottom: 10px;
}

.results-item {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

#input-quote {
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  margin-top: 20px;
}

#results-header {
  text-decoration: underline;
  font-weight: 400;
  margin-bottom: 20px;
}

#results-div {
  margin-top: 30px;
}

.container {
  margin-top: 80px;
  text-align: center;
}

.submit-btn {
  margin-top: 30px;
  color: #FFFFFF;
  font-weight: 600;
}

